In [1]:
#Q1.Discuss string slicing and provide examples

In [2]:
#   012345678910  - forward indexing 
a ="Hello world"
#          -2-1 - backward indexing from -1
a

'Hello world'

In [3]:
a[0:2]  #variable[starting index: ending index]

'He'

In [4]:
a[1]

'e'

In [5]:
a[:6] # 0->5 index

'Hello '

In [8]:
a[1::1]  # first index to last index

'ello world'

In [7]:
a[0::2] #here 2 is for print alternate seqeunce
# but default is 1 for example- [::1]

'Hlowrd'

In [11]:
a[::-1] # here is for accessing form backward

'dlrow olleH'

In [16]:
a[-1:-5:-1]

'dlro'

In [19]:
len(a)

11

In [ ]:
#Q2.Explain the key features of lists in Python

In [21]:
print("""Lists are ordered.
Lists can contain any arbitrary objects.
List elements can be accessed by index.
Lists can be nested to arbitrary depth.
Lists are mutable.
Lists are dynamic""")

Lists are ordered.
Lists can contain any arbitrary objects.
List elements can be accessed by index.
Lists can be nested to arbitrary depth.
Lists are mutable.
Lists are dynamic

In [21]:
a = [2.3,3,'ashu','shatma',5+6j]
a

[2.3, 3, 'ashu', 'shatma', (5+6j)]

In [26]:
type(a)

list

In [27]:
#Q3. Describe how to access, modify, and delete elements in a list with examples

In [28]:
a

[2.3, 3, 'ashu', 'shatma', (5+6j)]

In [30]:
type(a)

list

In [31]:
a[2] #we can access element in list same as string

'ashu'

In [34]:
a[4:2:-1]

[(5+6j), 'shatma']

In [43]:
for i in a:
    print(i)

2.3
cooding
2
3
(5+6j)

In [4]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [36]:
#there are many to modifiy list 
#1. By indixing 
#2. By append comand by append we can add element in list in last 
#3. By insert comand by insert we can add element in list in a specific index within list

Yes, 'apple' is in the fruits list

In [37]:
a

[2.3, 3, 'ashu', 'shatma', (5+6j)]

In [40]:
a[1] = "cooding"
a

[2.3, 'cooding', 'ashu', 'shatma', (5+6j)]

In [42]:
a[2:4]= 2,3 
a

[2.3, 'cooding', 2, 3, (5+6j)]

In [5]:
thislist

['apple', 'banana', 'cherry']

In [6]:
thislist.append("mango")  # if this code is run twice then mango is added to the list two times
thislist

['apple', 'banana', 'cherry', 'mango']

In [8]:
thislist.append("mango","preworkout") # we can not add two obeject in single append command

TypeError: list.append() takes exactly one argument (2 given)

In [9]:
thislist.insert(0,"workout")
thislist

['workout', 'apple', 'banana', 'cherry', 'mango']

In [10]:
thislist1=[2,3]
thislist.extend(thislist1) #extend is used for adding list in another list in list 
thislist

['workout', 'apple', 'banana', 'cherry', 'mango', 2, 3]

In [11]:
thislist.remove(3)   # .remove is used to remove particlar element 
thislist

['workout', 'apple', 'banana', 'cherry', 'mango', 2]

In [12]:
thislist.pop(0)  # .pop is used to delete the element which is present on the index
thislist

['apple', 'banana', 'cherry', 'mango', 2]

In [14]:
thislist.pop()  # .pop() is used to delete the last element of the list
thislist

['apple', 'banana', 'cherry']

In [15]:
del thislist[1]  #this is same as pop
thislist

['apple', 'cherry']

In [19]:
del thislist # delete the entire list  
thislist

NameError: name 'thislist' is not defined

In [22]:
a

[2.3, 3, 'ashu', 'shatma', (5+6j)]

In [23]:
type(a)

list

In [26]:
a.clear()   # .clear is delete all element present in list
a

[]

In [ ]:
# Q4. Compare and contrast tuples and lists with exmples?

In [ ]:
### similarity between tuples and lists are :-
## Both are access by indexing and both are ordered
# Both are store different type of value ex:- int,float,str,etc

In [ ]:
### Difference between tuples and lists are:-
## In tuples :- these are immutable and we cannot add value in tuples
# In lists :- Lists are mutables and we can add ,modify a list

In [48]:
a=(1,2.3,2+3j,"mca","nda")
a

(1, 2.3, (2+3j), 'mca', 'nda')

In [28]:
type(a)

tuple

In [31]:
a[1]

2.3

In [33]:
a[-1::-1]

('nda', 'mca', (2+3j), 2.3, 1)

In [43]:
b=(2,100,0,3)
max(b)

100

In [42]:
c=a+b
c

(1, 2.3, (2+3j), 'mca', 'nda', 2, 100, 0, 3)

In [39]:
c[2]=100  #value of tuples cannot be change

TypeError: 'tuple' object does not support item assignment

In [44]:
2.3 in c

True

In [45]:
a=[1,2.3,2+3j,"mca","nda"]
a

[1, 2.3, (2+3j), 'mca', 'nda']

In [46]:
type(a)

list

In [47]:
a[2]=100   #list support modification 
a

[1, 2.3, 100, 'mca', 'nda']

In [49]:
c=(a,b) #nested tuples
c

((1, 2.3, (2+3j), 'mca', 'nda'), (2, 100, 0, 3))

In [50]:
#Q5. Describe the key features of sets and provide examples of their use ?

In [ ]:
### The Key features of sets are:-
## The values of set are always unique  
# SEts are unordered

In [64]:
a ={"apple","mangoes","guava","jackfruit","apple","mangoes"}
a ## all the values are unique because in sets there is no repeation

{'apple', 'guava', 'jackfruit', 'mangoes'}

In [52]:
a[0] # also we can not access value by indexing because set is unordered

TypeError: 'set' object is not subscriptable

In [56]:
a.add(2,)
a

{2, 'apple', 'guava', 'jackfruit', 'mangoes'}

In [58]:
a.pop()  # in set it is not necessary that pop is only remove last element
### in this case pop is remove first element of set

2

In [66]:
a.remove("apple")   # .remove is used to remove element from set 
a

{'guava', 'jackfruit', 'mangoes'}

In [68]:
a.update("Ashu")  # iterative update 
a

{'A', 'guava', 'h', 'jackfruit', 'mangoes', 's', 'u'}

In [71]:
a.update(["Ashu"])   #update as a whole string
a

{'A', 'Ashu', 'guava', 'h', 'jackfruit', 'mangoes', 's', 'u'}

In [74]:
a.update([2,3])
a

{2, 3, 'A', 'Ashu', 'guava', 'h', 'jackfruit', 'mangoes', 's', 'u'}

In [75]:
b = {2,3,'h','u'}
b

{2, 3, 'h', 'u'}

In [76]:
a|b   # a or b print all the element present in a and b

{2, 3, 'A', 'Ashu', 'guava', 'h', 'jackfruit', 'mangoes', 's', 'u'}

In [77]:
a&b    # print only common element

{2, 3, 'h', 'u'}

In [78]:
a^b   # symmetric differece

{'A', 'Ashu', 'guava', 'jackfruit', 'mangoes', 's'}

In [81]:
b-a

set()

In [82]:
a.discard('Ashu')   #discard is also used to remove element from sets
a

{2, 3, 'A', 'guava', 'h', 'jackfruit', 'mangoes', 's', 'u'}

In [85]:
# frozen set is also a type ofset that is not mutable.We can not modify or add element in frozen set

x = frozenset(['ashu',1,'maths',4,100])
x

frozenset({1, 100, 4, 'ashu', 'maths'})

In [86]:
type(x)

frozenset

In [87]:
x.add('cs')

AttributeError: 'frozenset' object has no attribute 'add'

In [88]:
x[2]

TypeError: 'frozenset' object is not subscriptable

In [89]:
x.delete(1)

AttributeError: 'frozenset' object has no attribute 'delete'

In [ ]:
# Q6. Discuss the use cases of tuples and sets in Python programming ?

In [ ]:
## Tuples is immutable . It can not modify
# Tuples data structure is where we should not change the original data. 
## For exam - Aadhar card no. Once it is create it cannot in future.
tup =

In [4]:
## Set are used to remove dupilation and set are unordered 
# In set, the dupilation of object is not persent .
# for example 
a = {'apple','banana','apple','banana'}
a

{'apple', 'banana'}

In [ ]:
# Q7. Describe how to add, modify, and delete items in a dictionary with examples ?

In [96]:
car ={'Company':'Tata','Model': 'Curve','Year':2024,'Milage':20,'Price':25}
car

{'Company': 'Tata', 'Model': 'Curve', 'Year': 2024, 'Milage': 20, 'Price': 25}

In [97]:
car['Model']  # we can access a dict. by its keys

'Curve'

In [98]:
car['Model']= 'Safari'  ## We can modify dict. by its key values 
car

{'Company': 'Tata', 'Model': 'Safari', 'Year': 2024, 'Milage': 20, 'Price': 25}

In [100]:
car.keys()

dict_keys(['Company', 'Model', 'Year', 'Milage', 'Price'])

In [102]:
car.get('Year')

2024

In [103]:
car['Color'] = 'Black'  ## also we can add value in dict. after creation
car

{'Company': 'Tata',
 'Model': 'Safari',
 'Year': 2024,
 'Milage': 20,
 'Price': 25,
 'Color': 'Black'}

In [104]:
car.items()

dict_items([('Company', 'Tata'), ('Model', 'Safari'), ('Year', 2024), ('Milage', 20), ('Price', 25), ('Color', 'Black')])

In [105]:
car['Model'] = 'Nexon'  # always used last value

In [106]:
car

{'Company': 'Tata',
 'Model': 'Nexon',
 'Year': 2024,
 'Milage': 20,
 'Price': 25,
 'Color': 'Black'}

In [107]:
car1 ={'Class' :'Suv'}

In [108]:
car.update(car1)  # by using update command be can add to dictionary

In [109]:
car

{'Company': 'Tata',
 'Model': 'Nexon',
 'Year': 2024,
 'Milage': 20,
 'Price': 25,
 'Color': 'Black',
 'Class': 'Suv'}

In [110]:
car.pop('Year')   #.pop is used when specific value is deleted

2024

In [111]:
car

{'Company': 'Tata',
 'Model': 'Nexon',
 'Milage': 20,
 'Price': 25,
 'Color': 'Black',
 'Class': 'Suv'}

In [113]:
car.popitem()    #popitem is used to delete the last element of list

('Class', 'Suv')

In [114]:
del car['Price']

In [115]:
car

{'Company': 'Tata', 'Model': 'Nexon', 'Milage': 20, 'Color': 'Black'}

In [116]:
car.clear()    # .clear for delete all the element of the dictionary

In [117]:
type(car)

dict

In [118]:
del car   ## for delete the dictionary

In [119]:
type(car)

NameError: name 'car' is not defined

In [ ]:
#Q8. Discuss the importance of dictionary keys being immutable and provide example

In [ ]:
## In a dictionary, the key part must be immutable. This means that once a key is created,
## it cannot be changed. Immutability is essential for keys because it ensures that the dictionary can
## efficiently look up values based on their keys. If a key was mutable, its hash value could change, 
## making it impossible to find the associated value in the dictionary. 
## For example, in the following dictionary:

In [2]:
d = {'name': 'Alice', 'age': 30} ##'Name' and 'age' are the keys (immutable), and 'Alice' and '30' are the values (mutable

In [3]:
d

{'name': 'Alice', 'age': 30}