Q2. Describe the role of predefined keywords in Python and provide examples of how they are used in a
program ?

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
## These are predefine keyword and these are help in many ways .
# for exampale - import is used for import a library such as

In [92]:
import sys 
print(sys.version)

3.10.8 | packaged by conda-forge | (main, Nov 22 2022, 08:26:04) [GCC 10.4.0]

In [7]:
# for example- true and false  is used for whether the statment is correct or wrong 
3>=2

True

Q3. Compare and contrast mutable and immutable objects in Python with examples

In [ ]:
#objects/container whose state or value can not be changed after they are created are called as immutable objects or container, 
#string is a type of immutable object/ doesn't supports item assignment

In [8]:
a ="ashutosh"
a

'ashutosh'

In [9]:
a[1]

's'

In [10]:
a[1]="u"

TypeError: 'str' object does not support item assignment

In [ ]:
#objects/container whose state or value can be changed after they are created arecalled as mutable objects or container, 
#string is a type of immutable object/ doesn't supports item assignment

In [12]:
list =[1,4,"Ashu",3+5j,10.2]
list
#List is a type of container in which we all type of values like string ,int,float,complex,etc.

[1, 4, 'Ashu', (3+5j), 10.2]

In [13]:
list[0]

1

In [14]:
list[1]

4

In [15]:
list[1]="tiwari"
list

[1, 'tiwari', 'Ashu', (3+5j), 10.2]

Q4. Discuss the different types of operators in Python and provide examples of how they are used

In [20]:
# In Python, There are differnt type or operator like arithimetic operators,comparison operator , logical ,bitwise and many more
# Arithimatic Operator - Add, sub.,multiply ,division
2+4     #addition

6

In [21]:
10-3    #substraction

7

In [23]:
2*6     #multilpy

12

In [25]:
6//2     #division and ans in integer

3

In [26]:
6/3    # division and ans in float

2.0

In [27]:
6%3  # for reminder

0

In [28]:
#Comparison operator - <,>,=,+>,=<
#and answer of comparison operator are always in the form of "true or false"
3>2

True

In [29]:
10<3

False

In [42]:
#logical operator 
# logical AND - $ 
#both the given condition are true it will true 
# if one condition and both conditions are false then it will false . For Exam
((4<2) and (9<7))

False

In [43]:
4>2 and 9>7

True

In [44]:
4>2 and 7>9

False

In [45]:
# logical OR - || 
#both the given condition are false it will false 
# if one condition and both conditions are ture then it will true . For Exam
4<3 or 7>9

False

In [46]:
43>31 or 7>9

True

In [47]:
43>31 or 9>7

True

Q5.Explain the concept of type casting in Python with examles ?

In [48]:
# Type casting is used to convert one data type into another data type 
# for example - int - float,int - string ,float - string ,float - int 
# But we cannot convert string to int or float or any of the flowing 
# for example - 
a= "AShu"
a

'AShu'

In [49]:
type(a)

str

In [66]:
y

2

In [50]:
a = int("AShu")

ValueError: invalid literal for int() with base 10: 'AShu'

In [58]:
x= int(1)
y= (2.4)
z= "4"
x

1

In [67]:
type(z)

str

In [61]:
type(y)

float

In [65]:
y = int(2.4)
type(y)

int

In [68]:
type(x)

int

In [70]:
z

'4'

In [72]:
type(z)

str

In [74]:
z = int("4")
z

4

In [76]:
type(z)

int

 Q6. How do conditional statements work in Python? Illustrate with examples ?

In [79]:
# COnditional Statement are use to compare two statement . for example
a = int(input("Enter a number for comaprison"))
if(a>= 10):
        print("if statement is correct")
else:
        print("else statement is correct")

Enter a number for comaprison 10

if statement is correct

In [81]:
a = int(input("Enter a number for comaprison"))
if(a> 10):
        print("if statement is correct")
else:
        print("else statement is correct")

Enter a number for comaprison 7

else statement is correct

In [90]:
# now comparinig three or more than three commands by using elif 
a = int(input("Enter Marks"))
if(a>90):
    print("Grade A")
elif(a>80 or 90<=a):
    print("Grade B")
elif(a>70 or 80<=a):
    print("Grade C")    
elif(a>70 or 60<=a):
    print("Grade D")
elif(a>60 or 50<=a):
    print("Grade E")
else:
    print("Fail")

Enter Marks 56

Grade E

Q7. Describe the different types of loops in Python and their use cases with examples.

In [ ]:
#There are two type of loops in python :- 1. For loop 2. While loop 
#loops are used for doing of repeated task

In [11]:
num=int(input("Enter the required number:-"))
for i in range(1,11):
    mul = i*num
    print(num," x ",i," ",mul)

Enter the required number:- 6

6  x  1   6
6  x  2   12
6  x  3   18
6  x  4   24
6  x  5   30
6  x  6   36
6  x  7   42
6  x  8   48
6  x  9   54
6  x  10   60

In [53]:
n= 5
for k in range(1,n+1):
    for l in range(1):
          print("* "*k)

*
* *
* * *
* * * *
* * * * *

In [58]:
list_1 = [1,2,3,"AShu","Tiwari","Cloud"]
for i in list_1:
    if i== "AShu":
        break
    print(i)

1
2
3

In [59]:
list_1 = [1,2,3,"AShu","Tiwari","Cloud"]
for i in list_1:
    if i== "AShu":
        continue
    print(i)

1
2
3
Tiwari
Cloud

In [1]:
#square of star 
for i in range(5):
    for j in range(6):
        print(end="")
    print("* "*j)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:

i=1
n=10
while i<=n:
    print (i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [3]:
a = "Ashu tiwari"
for i in a:
    print(i)

A
s
h
u

t
i
w
a
r
i